#login_body {
    /* IMAGE FROM "https://www.publicdomainpictures.net/pictures/170000/velka/jogging-at-sunset-1461853562JAu.jpg" */
    background-image: url('https://www.publicdomainpictures.net/pictures/170000/velka/jogging-at-sunset-1461853562JAu.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    /* or background-size: contain; depending on your preference */
    background-position: center;
}

body{
    font-family: 'K2D', sans-serif;
  }

.card {
    margin: 0 auto;
    opacity: 0.83;
    overflow: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 9%;
    font-size: 1.8vh;
}

.card:hover {
    opacity: 1;
}

.cardOneStyle {
    max-height: 90vh; 
}

a {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

input[type="text"],
input[type="submit"],
input[type="password"],
input[type="email"] {
    width: 100%;
}

a:hover {
    font-weight: bold;
}

.flashedMessage {
    color: red;
}


.linkStyle {
    width: fit-content; 
    height: fit-content;
}

#customForm label
{
    margin-left: 10px;
}