#map { 
    height: 500px; 
}

.btn-primary {
    background-color: #00008B; 
    border-color: #111111;
    color: #fff;
}

.btn-link {
    color: #00008B; 
    text-decoration: underline; 
    background-color: transparent; 
    border: none; 
}

.smallGap {
    margin-bottom: 20px;
}