{% extends 'base_post_login.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 profilePage">
    <div class="row justify-content-center flex-sm-row">
        <div class="col-auto">
            <div id="profileCard" class="card text-center p-5">
                <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
                <p class="lead">{{ current_user.email }}</p>
                <hr>
                <fieldset>
                    <legend class="mb-3">Change Password</legend>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="text-left">
                            <div class="form-group">
                                {{ form.old_password.label }}
                                {{ form.old_password(class="form-control", placeholder="Enter your current password") }}
                            </div>
                            <div class="form-group">
                                {{ form.new_password.label }}
                                {{ form.new_password(class="form-control", placeholder="Enter your new password") }}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label }}
                                {{ form.confirm_password(class="form-control", placeholder="Re-enter your new password") }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Change Password</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}