{% extends 'base_post_login.html' %}
{% block title %}Friends{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 profilePage">
    <div class = "row justify-content-center flex-sm-row">
        <div class="col-auto">
            <div id="card" class="card p-5 text-center mt-0">
                <h1>Friends</h1>
                <nav class="navbar navbar-expand-sm navbar-light">
                    <button class=" justify-content-center text-center navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class=" navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto ml-auto">
                        <li class="nav-item"><a id="linkOne" class="nav-link active">My Friends<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a id="linkTwo" class="nav-link">Incoming Requests</a></li>
                        <li class="nav-item"><a id="linkThree" class="nav-link">Search</a></li>
                      </ul>
                    </div>
                </nav>
                <div id="currentFriends">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody id="friendslistresults">
                        </tbody>
                    </table>
                </div>
                <div id="incomingRequests">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Accept</th>
                                <th>Decline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dave Banks</td>
                                <td>Dave.banks@gmail.com</td>
                                <td><button class="addButton">&check;</button></td>
                                <td><button class="binButton">&cross;</button></td>
                            </tr>
                            <tr>
                                <td>Jim Donald</td>
                                <td>jim.Donald@hotmail.com</td>
                                <td><button class="addButton">&check;</button></td>
                                <td><button class="binButton">&cross;</button></td>
                            </tr>
                            <tr>
                                <td>Joe Taylor</td>
                                <td>jt19@outlook.com</td>
                                <td><button class="addButton">&check;</button></td>
                                <td><button class="binButton">&cross;</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="searchFriends">
                    <input id="userSearch" class="searchBar mb-2 mt-2 br-5" type="text">
                    <button id="userSearchButton" class="searchButton">&#x1F50D</button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="searchlistresults" >
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script src="static/js/friends.js"></script>
{% endblock %}
