{% extends 'base_post_login.html' %}

{% block title %}User Home{% endblock %}

{% block content %}

<div class="smallGap">
    <h3>Friends and Their Trips</h3>
    <!-- Form to add friends -->
    <form action="/add_friend" method="post">
        <div class="form-group" id="friend-rqst">
            <label for="friendEmail">Friend's Email:</label>
            <input type="email" class="form-control" id="friendEmail" name="friend_email">
        </div>
        <button type="submit" id="addFriendButton" class="btn btn-primary" name="addFriendButton">Add Friend</button>
    </form>
    <!-- Display list of friends and their trips -->
    <table class="table table-striped">
        <h1>Friends List</h1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <!-- <th>View Trips</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each friend -->
            <tr>
                <td> John </td>
                <td> Doe </td>
                <td> johndoe@gmail.com </td>
                <!-- <td>
                    <button type="button" class="btn btn-link">View Trips</button>
                </td> -->
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <h1>Pending Friend Requests</h1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Status</th>
                <!-- <th>View Trips</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each friend -->
            <tr>
                <td> John </td>
                <td> Cena </td>
                <td> johncena@gmail.com </td>
                <td> Accept/Refuse </td>
                <!-- <td>
                    <button type="button" class="btn btn-link">View Trips</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
