{% extends "base_login_reg.html" %}
{% block content %} 
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class = "row justify-content-center flex-sm-row">
        <div class="col-auto mr-5">
            <div id="cardNumberOne" class="card p-5 text-center cardOneStyle">
                <h1>Log Into Your Account</h1>
                <form action="" method="post" name="loginForm">
                    {{ form.hidden_tag() }}
                    <hr>
                    <p aria-label="Enter Your Email Here" id="emailField" class="mb-0">{{ form.email(placeholder="Email", id="email") }}</p>
                    <br>
                    <p aria-label="Enter Your Password Here" class="mt-0">{{ form.password(placeholder="Password", id="pass") }}</p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="list-unstyled">
                                {% for message in messages %}
                                    <li class="flashedMessage">{{ message }} </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                   {% endwith %}
                   <br>
                    <div>
                        {{ form.rememberMe }}
                        <label for="rememberMe">Remember Me</label>
                    </div>
                    <br>
                    <input aria-label="Log In" id="logBtn" type="submit" value="Log In" class="btn btn-outline-dark"></input>
                </form>
                <hr>
                <p>Don't have an account <a href="/register"><b>Create One</b></a></p>
            </div>
        </div>
        <div class="col-auto ml-5">
            <div id="cardNumberTwo" class="card p-5 text-center cardTwoStyle">
                <h1>GPXTrips</h1>
                <hr>
                <nav class="navbar navbar-expand-sm navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto ml-auto">
                        <li class="nav-item"><a id="linkOne" class="nav-link active">About Us<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a id="linkTwo" class="nav-link">Payment Plans</a></li>
                      </ul>
                    </div>
                  </nav>
                <br>
                <div>
                    <p id="cBodyOne">Are you a runner? Walker? Hiker? Biker? </p>
                    <p id="cBodyTwo">Do you lack a record of your journeys or ever 
                        wonder how long your journey was?</p>
                    <p id="cBodyThree">With myGPS, throw away your bulky maps and 
                        say goodbye to ambiguity about your route data.
                        By uploading your GPS data trails onto our 
                        platform, we can provide valuable insights into 
                        your journey and store them online for viewing 
                        anywhere on earth with an internet connection.
                        Does this sound of Interest to you? Then please 
                        create an account using the link on the left. 
                        Want information about our payment plans? Then 
                        please click on the button at the top to view</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
