<!-- Content for post-login view of a manager -->
{% extends 'base_manager.html' %}

{% block title %}Manager Home{% endblock %}

{% block content %}
<div class="container-fluid ">
    <h2>Manager Dashboard</h2>
    <div class="list-group">
        <a href="/manage_users" class="list-group-item list-group-item-action">
            <i class="fas fa-users mr-2"></i> View and Manage Registered Users
        </a>
        <a href="/view_subscriptions" class="list-group-item list-group-item-action">
            <i class="fas fa-file-alt mr-2"></i> View Subscriptions
        </a>
        <a href="/amend_pricing" class="list-group-item list-group-item-action">
            <i class="fas fa-dollar-sign mr-2"></i> Amend Pricing Information
        </a>
        <a href="/faq_management" class="list-group-item list-group-item-action">
            <i class="fas fa-question-circle mr-2"></i> FAQ Management
        </a>
    </div>
</div>


{% endblock %}
