{% extends "base_login_reg.html" %}
{% block title %}Register{% endblock %}
{% block content %} 
<div class="d-flex justify-content-center align-items-center">
    <div class = "row justify-content-center flex-sm-row">
        <div class="col-auto">
            <div id="cardNumberOne" class="card p-5 mt-4 text-center cardOneStyle">
                <a class="mb-1 linkStyle" href="/"><b>Back</b></a>
                <h2>Register</h2>
                <hr>
                <form action="" method="post" name="RegistrationForm" class="text-left">
                    {{ registerForm.hidden_tag() }}
                    <fieldset>
                        <legend class="mb-2 text-center">Account Information</legend>
                        <p aria-label="Enter Your First Name Here" class="mb-3">{{registerForm.first_name.label}}:{{ registerForm.first_name(placeholder = "Enter First Name")}}</p>
                        <p aria-label="Enter Your Last Name Here" class="mt-1 mb-3">{{registerForm.last_name.label}}:{{ registerForm.last_name(placeholder = "Enter Last Name")}}</p>
                        
                        <p aria-label="Enter Your Email Address Here" class="mt-1 mb-3">{{registerForm.email.label}}:{{ registerForm.email(placeholder = "Enter Email")}}</p>
                        <p aria-label="Enter Your Password Here" class="mt-1 mb-3">{{registerForm.password.label}}:{{ registerForm.password(placeholder = "Enter Password")}}</p>
                        <p aria-label="Re-enter Your Password Here To Confirm" class="mt-1">{{registerForm.confirm_password.label}}{{ registerForm.confirm_password(placeholder = "Re-Enter Password")}}</p>
                    </fieldset>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="list-unstyled">
                                {% for message in messages %}
                                    <li class="flashedMessage">{{ message }} </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <hr>
                    <fieldset>
                        <legend class="mb-2 text-center">Terms and Conditions</legend>
                        <div id="customForm" class="text-center">
                            <p aria-label="Read and Accept Terms and Condition" class="mb-1">
                                {{ registerForm.TandCConfirm }}   
                                {{ registerForm.TandCConfirm.label}}       
                            </p>     
                            <p aria-label="View Terms and Conditions" >Click on this link to view <a class="mb-1 linkStyle" href='#' id="TandCLink">Terms and Conditions</a></p>
                        </div>
                    </fieldset>
                    <br>
                    {{ registerForm.submit_register(class="btn btn-outline-dark") }}   
                </form>
            </div>
        </div>
        <div class="col-auto text-center">
            <div id="cardNumberTwoREG" class="card mt-4 p-5 cardOneStyle">
                <h1>GPXTrips</h1>
                <hr>
                <h2>Terms and Conditions</h2>
                <br>
                <div>
                    <p>By Signing up to this app, you agree the to the following:</p>
                    <ul>
                        <li class="mb-1">You may not cancel your subscription once payment has been made.</li>
                        <li class="mb-1">You give GPXTrips the right to store your data on our server.</li>
                        <li class="mb-1">That GPXTrips will not accept legal responsibility regarding the loss of your personal data.</li>
                        <li class="mb-1">That I can confirm that I am over 13 years of age.</li>
                        <li class="mb-1">That I realise my account may be suspended for improper usage of the application</li>
                        <li class="mb-1">That unless cancelled, your subscription will renew at the end of your current subscription period</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
