{% extends "base_login_reg.html" %}
{% block content %} 
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class = "row justify-content-center flex-sm-row">
        <div class="col-auto">
            <div id="cardNumberOne" class="card p-5 text-center">
                <a class="mb-1 linkStyle" href="/"><b>Back</b></a>
                <h2>Register</h2>
                <hr>
                <form action="" method="post" name="RegistrationForm">
                    {{ form.hidden_tag() }}
                    <p aria-label="Enter Your First Name Here" class="mb-0">{{ form.first_name(placeholder="First Name")}}</p>
                    <p aria-label="Enter Your Last Name Here" class="mt-1 mb-0">{{ form.last_name(placeholder="Last Name")}}</p>
                    <p aria-label="Enter Your Email Address Here" class="mt-1 mb-0">{{ form.email(placeholder="Email Address")}}</p>
                    <p aria-label="Enter Your Password Here" class="mt-1 mb-0">{{ form.password(placeholder="Password")}}</p>
                    <p aria-label="Re-enter Your Password Here To Confirm" class="mt-1">{{ form.confirm_password(placeholder="Confirm Password")}}</p>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="list-unstyled">
                                {% for message in messages %}
                                    <li class="flashedMessage">{{ message }} </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <hr>
                    <div>
                        {{ form.TandCConfirm }}
                        <label class="ml-1" for="{{ form.TandCConfirm.id }}">I Agree to the <a id="TandCLink"><u>Terms and Conditions</u></a></label>
                    </div>
                    <br>
                    <input aria-label="Register" type="submit" value="Register" class="btn btn-outline-dark"></input>
                </form>
            </div>
        </div>
        <div class="col-auto text-center">
            <div id="cardNumberTwoREG" class="card p-5">
                <h1>MyGPS</h1>
                <hr>
                <h2>Terms and Conditions</h2>
                <br>
                <div>
                    <p>By Signing up to this app, you agree the to the following:</p>
                    <ul>
                        <li class="mb-1">You may not cancel your subscription once payment has been made.</li>
                        <li class="mb-1">You give MyGPS the right to store your data on our server.</li>
                        <li class="mb-1">That MyGPS will not accept legal responsibility regarding the loss of your personal data.</li>
                        <li class="mb-1">That I can confirm that I am over 13 years of age.</li>
                        <li class="mb-1">That I realise my account may be suspended for improper usage of the application</li>
                        <li class="mb-1">That unless cancelled, your subscription will renew at the end of your current subscription period</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
