{% extends 'base_post_login.html' %}

{% block title %}User Home{% endblock %}

{% block content %}

    <div id="popupContainer" class="popupContainer">
        <div id="popupForm p-5 text-center justify-content-center" class="popupForm">
            <span class="closeBtn" id="closeBtn">&times;</span>
            <h1 class="text-center">GPX Files</h1>
            <nav class="navbar navbar-expand-sm navbar-light">
                <button class=" justify-content-center text-center navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=" navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item"><a id="linkOne" class="nav-link active">My Routes<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a id="linkTwo" class="nav-link">Friend Routes</a></li>
                  </ul>
                </div>
            </nav>
            <div id="myRoutes">
                <div class="table">
                    <table class="table-responsive">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Display</th>
                                <th>Published by</th>
                                <th>View Route Info</th>
                                <th>Download Route Data</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            {% for i in route_info_list %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>
                                    <fieldset>
                                        <legend></legend>
                                    <div>
                                        <label class="switch" for="{{ i.id }}">.
                                            <input type="checkbox" name="addToMap" id="{{ i.id }}">
                                            <span class="slider"></span>
                                        </label>
                                    </fieldset>
                                    </div>
                                </td>
                                <td>{{ i.user.first_name}} {{i.user.last_name}}</td>
                                <td>
                                    <button class="btn-primary viewInfoBtn" data-route-id="{{ i.id }}">View Info</button>
                                    <div>
                                        <div class="popupDataContainer" id="popupDataContainer_{{ i.id }}">
                                            <div class="infoForm">
                                                <span class="closeBtn" data-route-id="{{ i.id }}">&times;</span>
                                                <h1>Route Information</h1>
                                                <p>Route Name: {{ i.name }}</p>
                                                <p>Route Length: {{ i.length }}</p>
                                                <p>Route Duration: {{ i.duration }}</p>
                                                <p>Route Start: {{ i.start }}</p>
                                                <p>Route End: {{ i.end }}</p>
                                                <p>Upload Date: {{ i.upload_time }}</p>
                                                <button class="btn-primary deleteBtn" data-route-id="{{ i.id }}">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn-primary downloadBtn" data-route-id="{{ i.id }}">Download</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <!-- File Upload Section -->
                <div class="form">
                    <form id="fileUploadForm" method="POST" action="" name="fileUpload" enctype="multipart/form-data">
                        {{ FileUploadForm.hidden_tag() }}
                        <div class="form-group">
                            <label for="fileInput" class="form-label">Choose a GPX file to upload:</label>
                            <div class="input-group">
                                {{ FileUploadForm.file_upload(accept=".gpx", class="file-upload-input", id="fileInput") }}
                                {{ FileUploadForm.submit_file(class="submit-button") }}
                            </div>
                            <div id="result"></div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        </div>
                    </form>
                </div>
            </div>

            <div id="friendRoutes">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Display</th>
                                <th>Uploaded by:</th>
                                <th>View Route Info</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            {% for i in friend_routes %}
                                    <tr>
                                        <td>{{ i.name }}</td>
                                        <td>
                                            <fieldset>
                                                <legend></legend>
                                                <div>
                                                    <label class="switch" for="{{ i.id }}">.
                                                        <input type="checkbox" name="friendAddToMap" id="{{ i.id }}">
                                                        <span class="slider"></span>
                                                    </label>
                                                </div>
                                            </fieldset>
                                        </td>
                                            <td>
                                                {{friend_names[loop.index0]}}
                                                ({{friend_emails[loop.index0]}})
                                            </td>
                                        <td>
                                        
                                            <button class="btn-primary friendViewInfoBtn" data-route-id="{{ i.id }}">View Info</button>
                                            <div>
                                                <div class="popupDataContainer" id="friend_popupDataContainer_{{ i.id }}">
                                                    <div class="infoForm p-5 text-center">
                                                        <span class="friendCloseBtn" data-route-id="{{ i.id }}">&times;</span>
                                                        <h1>Route Information</h1>
                                                        <hr>
                                                        <p>Route Name: {{ i.name }}</p>
                                                        <p>Route Length: {{ i.length }}</p>
                                                        <p>Route Duration: {{ i.duration }}</p>
                                                        <p>Route Start: {{ i.start }}</p>
                                                        <p>Route End: {{ i.end }}</p>
                                                        <p>Upload Date: {{ i.upload_time }}</p>
                                                        <p>Uploaded By: {{friend_names[loop.index0]}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Left Column for Uploaded GPX Files -->
            <div class="col-md-6">
                {% if disabled %}
                <button id="viewRoutesBtn" class=" blur btn btn-primary">View & Manage GPX Routes</button>
                {% else %}
                <button id="viewRoutesBtn" class="view_btn">View & Manage GPX Routes</button>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- Leaflet Map Section -->
    <div id="test">
        {% if disabled %}
        <div class="blur" id="map"></div>
        {% else %}
        <div id="map"></div>
        {% endif %}
        {% if disabled %}
        <div class="overlapCard text-center p-5">
            <fieldset>
                <legend class="h1">Please Choose A Subscription Plan To Continue</legend>
                <hr>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Cost</th>
                        <th>Chosen Subscription</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><label for="radio1">52 Week</label></th>
                        <td>{{ priceArray[2] }}</td>
                        <td><input name="pp" id="radio1" type="radio" value="Year"></td>
                    </tr>
                    <tr>
                        <th><label for="radio2">4 Week</label></th>
                        <td>{{ priceArray[1] }}</td>
                        <td><input name="pp" id="radio2" type="radio" value="Month"></td>
                    </tr>
                    <tr>
                        <th><label for="radio3">1 Week</label></th>
                        <td>{{ priceArray[0] }}</td>
                        <td><input name="pp" id="radio3" type="radio" value="Week"></td>
                    </tr>
                    </tbody>
                </table>
                <p>You will be redirected for payment. <b>Disclaimer:</b> Subscription is non-refundable.</p>
                <button aria-label="Click to Proceed to subscription payment" id="subButton" class="btn btn-success">Subscribe</button>
              </fieldset>
        </div>
        {% endif %}
    </div>
    
    <!-- leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- own scripts -->
    <script src="static/js/mapScript.js"></script>
    <script src="static/js/fileHandling.js"></script>
{% endblock %}
