<!-- Content for post-login view of a user -->
{% extends 'base_post_login.html' %}

{% block title %}User Home{% endblock %}

{% block content %}
    <h2>Main Content Area for User Home</h2>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

        <!-- leaflet -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <!-- GPX plugin for leaflet -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
    </head>

    <div class="smallGap">
        <h3>Uploaded GPX Files</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Display on Map</th> <!-- Checkbox (View in Map) -->
                    <th>Public</th> <!-- Checkbox (Visible to friends?) -->
                </tr>
            </thead>
            <tbody>
                {% for i in routes %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.upload_time }}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="displayCheckbox{{ i.id }}" onchange="displayOnMap({{ i.id }})">
                            <label class="form-check-label" for="displayCheckbox{{ i.id }}">
                                Show on Map?
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="publicCheckbox1">
                            <label class="form-check-label" for="publicCheckbox1">
                                Public
                            </label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <!-- Add Friends and View Their Trips Section (Acessibility To be considered)-->
    <div class="smallGap">
        <h3>Friends and Their Trips</h3>
        <!-- Form to add friends -->
        <form action="/add_friend" method="post">
            <div class="form-group">
                <label for="friendEmail">Friend's Email:</label>
                <input type="email" class="form-control" id="friendEmail" name="friend_email">
            </div>
            

            <button type="submit" id="addFriendButton" class="btn btn-primary" name="addFriendButton">Add Friend</button>



        </form>
        <!-- Display list of friends and their trips -->
        <ul class="list-group">
            <li class="list-group-item">
                Friend 1
                <button type="button" class="btn btn-link float-right">View Trips</button> <!-- Upon clicking view trips show the trips on a pop-up map? -->
            </li>
            <li class="list-group-item">
                Friend 2
                <button type="button" class="btn btn-link float-right">View Trips</button>
            </li>
            <!-- For loop to display all friends OK-->
        </ul>
    </div>

    <body>
        <!-- Plug In application function to upload GPX File.(DB Storagte As Well?) -->
        <div id="test">
            <div id="map"></div>
        </div>
        <script src="static/mapScript.js"></script>

        
        <div class="form">
            <form method="POST" action="" name="fileUpload" enctype="multipart/form-data">
                {{ FileUploadForm.hidden_tag() }}
                <label for="fileUpload">File Upload</label>
      
                {{ FileUploadForm.file_upload(accept=".gpx") }}
                {{ FileUploadForm.submit_file }}
            </form>
        </div>
    </body>
{% endblock %}

