{% extends 'base_manager.html' %}

{% block title %}Revenue{% endblock %}

{% block content %}

    <select>
        <option value="past">View Past Revenue</option>
        <option value="future">View Estimated Future Revenue</option>
    </select>

    <!-- dont change class name, the jquery works using "past chart" -->
    <div class="past chart"> 
        <h1>Past Revenue</h1>

        <!-- chart of future revenue estimates -->
        <div class="chart-container">
            <canvas id="pastChart"></canvas>
        
            <div class="form">
                <form method="post" action="" name="searchUsers">
                    {{ ChangeRevWeeksForm.hidden_tag() }}
            
                    <label for="weeks">Number of weeks in the past to display:</label>
            
                    {% if ChangeRevWeeksForm.weeks.errors %}
                    {{ ChangeRevWeeksForm.weeks(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in ChangeRevWeeksForm.weeks.errors %}
                            <span>• {{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ ChangeRevWeeksForm.weeks(class="form-control", placeholder="Number of Weeks") }}
                    {% endif %}
            
                    <div class="formButton">
                        {{ ChangeRevWeeksForm.submitWeeks }}
                    </div>
                </form>
            </div>
            <p>Total Revenue: {{ total_rev }}</p>
        </div>

    </div>
    
    <!-- dont change class name, the jquery works using "future chart" -->
    <div class="future chart">
        
            <div class="chart-container">
                <h1>Future Revenue Estimate</h1>
                <!-- chart of future revenue estimates -->
                <canvas id="futureChart"></canvas>

                {% if noEstimate == True %}
                    <p>There isnt enought data to estimate the revenue</p>
                {% else %}
                    <p>Current Revenue Compound Weekly Growth Rate: {{ CWGR_rev }}</p> 
                    <p>Current Customer Compound Weekly Growth Rate: {{ CWGR_cus }}</p> 

                    <p>This is what the future revenue is based on</p>
                {% endif %}
            </div>
    </div>




    <!-- chart script -->
    <script nonce="{{ csp_nonce() }}">
        // estimated rev graph
        const labels_future = {{ weeks_future | tojson }};

        const data = {
        labels: labels_future,
        datasets: [
            {
                label: 'Estimated Revenue',
                // sets colour of the line, change both for colour change
                backgroundColor: 'rgb(100, 99, 132)',
                borderColor: 'rgb(100, 99, 132)',
                data: {{ revData_future | tojson }},
            },
            {
                label: 'Estimated Customers',
                // sets colour of the line, change both for colour change
                backgroundColor: 'rgb(200, 99, 132)',
                borderColor: 'rgb(200, 99, 132)',
                data: {{ customerData_future | tojson }},
            }
        ]
        };

        const config = {
        type: 'line',
        data: data,
        options: { maintainAspectRatio: false, 
            scales: {
                y: {
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value, index, ticks) {
                            return '£' + value;
                        }
                    }
                }
            } 
        }
        };

        const chart_future = new Chart(
        document.getElementById('futureChart'),
        config,
        );
        
        // past rev chart
        const labels_past = {{ weeks_past | tojson }};

        const data_past = {
        labels: labels_past,
        datasets: [
            {
                label: 'Revenue',
                // sets colour of the line, change both for colour change
                backgroundColor: 'rgb(100, 99, 132)',
                borderColor: 'rgb(100, 99, 132)',
                data: {{ revData_past | tojson }},
            }
        ]
        };

        const config_past = {
        type: 'bar',
        data: data_past,
        options: { maintainAspectRatio: false,
            scales: {
                y: {
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value, index, ticks) {
                            return '£' + value;
                        }
                    }
                }
            } 
        }
        };

        const chart_past = new Chart(
        document.getElementById('pastChart'),
        config_past
        );

    </script>


{% endblock %}
